/*
 * Fonts
 */
h1, h2, h3, h4 {
    font-family: 'Quicksand', sans-serif;
}

div, p, th, td, li, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

/*
 * Styles
 */

ul > .alert {
	padding: 6px 5px 4px 5px;
}

a,
a:visited {
	color: #ff5700;
	text-decoration: none;
}

a:hover,
a:active,
a:focus {
	text-decoration: underline;
}

.color-bg {
    background-color: #ff5700;
}

.white-text {
    color: white;
}

.panel-primary {
    border-color: #ff5700;
}

.panel-primary>.panel-heading {
    background-color: #ff5700;
    border-color: #ff5700;
}

.tasks {
    padding-left: 0;
    list-style: none;
}

.task {
    cursor: pointer;
}

.task-text {
    display: inline;
}

.done-false {

}

.done-true {
    /*text-decoration: line-through;*/
}

.box-1 {
    -webkit-animation-delay: 0s;
}
.box-2 {
    -webkit-animation-delay: 0.1s;
}
.box-3 {
    -webkit-animation-delay: 0.2s;
}

.reddit-post {
	margin: 0 0 10px 0;
	padding: 10px;
	border: 1px solid #ddd;
	border-radius: 4px;
	color: #333;
	text-decoration: none;
	transition: 0.2s all;
}

.reddit-score {
	color: #ff5700;
}

.reddit-title,
.reddit-title:visited {
	color: #333;
	text-decoration: none;
	transition: 0.2s all;
}

.reddit-title:hover,
.reddit-title:active,
.reddit-title:focus {
	text-decoration: none;
	color: #ff5700;
}

.reddit-title h4 {
	padding: 0;
	margin: 0;
}

.reddit-post-link,
.reddit-post-link:visited {
	color: #aaa;
	text-decoration: none;
}

.reddit-post-link,
.reddit-post-link:hover,
.reddit-post-link:active,
.reddit-post-link:focus {
	color: #666;
	text-decoration: none;
}

.reddit-thumbnail {
	width: 100%;
	height: auto;
}
