/*
 * Fonts
 */
h1, h2, h3, h4 {
    font-family: 'Quicksand', sans-serif;
}

div, p, th, td, li, h5, h6 {
    font-family: 'Roboto', sans-serif;
}

/*
 * Styles
 */

 ul > .alert {
     padding: 6px 5px 4px 5px;
 }

.color-bg {
    background-color: #ff5700;
}

.white-text {
    color: white;
}

.panel-primary {
    border-color: #ff5700;
}

.panel-primary>.panel-heading {
    background-color: #ff5700;
    border-color: #ff5700;
}

.tasks {
    padding-left: 0;
    list-style: none;
}

.task {
    cursor: pointer;
}

.task-text {
    display: inline;
}

.done-false {

}

.done-true {
    /*text-decoration: line-through;*/
}

.box-1 {
    -webkit-animation-delay: 0s;
}
.box-2 {
    -webkit-animation-delay: 0.1s;
}
.box-3 {
    -webkit-animation-delay: 0.2s;
}
